.navbar-brand {
    margin-right: 3%;
}

.headerButts {
    text-decoration: none;
    margin-right: 15px;
    color: inherit;
    margin-top: 2px;
}

.headerButts:hover {
    text-decoration: underline;
}

.bubbleCon {
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 150%;
    text-align: center;
}

.buttonCaption {
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 150%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homeButts {
    width:100px;
    margin: 15px;
}

.formCon {
    margin-top: 40px;
    margin-left: 35%;
    margin-right: 35%;
    outline-style: solid;
    padding:10px;
    border-radius: 20px;
}

.subButt {
    display:flex;
    justify-content: center;
}

.signupTitle {
    text-align: center;
    margin-top: 30px;
    font-size: 150%;
}

.mapAuthors {
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.mapPosts {
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.postLinks {
    text-decoration: none;
}

.postLinks:hover {
    transform: scale(1.05);
}

.trendingLink {
    text-decoration: none;
    color: inherit;
}

.trendingLink:hover {
    font-size: 110%;
}

p {
    margin-bottom: 0;
}

#authorInPosts {
    margin-top: 10px;
    font-weight: bold;
}

.postStart {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.postTitle {
    text-align: left;
    font-size: 300%;
    font-weight: 800;
    max-width: 600px;
    line-height: 1.1;
}

.postAuthor {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 140%;
    max-width: 600px;
}

.postContent {
    text-indent: 45px;
    max-width: 600px;
    text-align: left;
}

.likeCon {
    margin-top: 20px;
    display:flex;
    justify-content: left;
    margin-bottom: 20px;
}

.loadingIndic {
    margin-top: 50px;
    text-align: center;
    font-size: 200%;
}

.loadingIndic:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1400ms infinite;      
    animation: ellipsis steps(4,end) 1400ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}
  
@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

.loadingExplanation {
    margin-top: 20px;
    text-align: center;
    font-size: 130%;
}

.engageButtsCon {
    display:flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.engageButts {
    min-width:75px;
    font-size: 200%;
}

.engageButts:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.engageButts-container {
    margin-top: 10px;
    display:flex;
}

.sureCon {
    position: absolute;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: left;
    width:90%;
    height:100%;
}

.questionCon {
    min-width: 100px;
    font-size: 200%;
}


.mapLikes {
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.liked-post-links {
    text-decoration: none;
    color: black;
    font-weight:100;
}

.liked-post-links:hover {
    font-size: 105%;
}

.postComments {
    max-width: 600px;
    padding:1px;
}

.comments-ul {
    list-style-type: none;
    padding: 0;
    display:flex;
    flex-direction: column;
}

.comments-li {
    margin-bottom: 25px;
    outline-style: solid;
    outline-width: 1px;
}

.commentUser {
    outline-style: solid;
    outline-width: 1px;
    font-size: 140%;
}

.commentUser, .commentContent {
    padding: 10px;
}

.commentForm {
    max-width: 600px;
    margin-bottom: 10%;
}

.comments-header {
    font-size: 200%;
    text-align: left;
    margin-bottom: 5%;
}