.navbar-brand {
    margin-right: 3%;
}

.headerButts {
    text-decoration: none;
}

.bubbleCon {
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 150%;
    text-align: center;
}

.buttonCaption {
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 150%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homeButts {
    width:100px;
    margin: 15px;
}

.formCon {
    margin-top: 40px;
    margin-left: 35%;
    margin-right: 35%;
    outline-style: solid;
    padding:10px;
    border-radius: 20px;
}

.subButt {
    display:flex;
    justify-content: center;
}

.signupTitle {
    text-align: center;
    margin-top: 30px;
    font-size: 150%;
}